{% extends 'dashboard/base.html' %} {% load static %} {% block content %}

<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->


<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

  <nav
        class="navbar navbar-main navbar-expand-lg position-sticky mt-4 top-1 px-0 mx-4 shadow-none border-radius-xl z-index-sticky"
        id="navbarBlur" data-scroll="true">
        <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
              <li class="breadcrumb-item text-sm">
                <a class="opacity-3 text-dark" href="javascript:;">
                  <svg width="12px" height="12px" class="mb-1" viewBox="0 0 45 40" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>shop </title>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g transform="translate(-1716.000000, -439.000000)" fill="#252f40" fill-rule="nonzero">
                        <g transform="translate(1716.000000, 291.000000)">
                          <g transform="translate(0.000000, 148.000000)">
                            <path
                              d="M46.7199583,10.7414583 L40.8449583,0.949791667 C40.4909749,0.360605034 39.8540131,0 39.1666667,0 L7.83333333,0 C7.1459869,0 6.50902508,0.360605034 6.15504167,0.949791667 L0.280041667,10.7414583 C0.0969176761,11.0460037 -1.23209662e-05,11.3946378 -1.23209662e-05,11.75 C-0.00758042603,16.0663731 3.48367543,19.5725301 7.80004167,19.5833333 L7.81570833,19.5833333 C9.75003686,19.5882688 11.6168794,18.8726691 13.0522917,17.5760417 C16.0171492,20.2556967 20.5292675,20.2556967 23.494125,17.5760417 C26.4604562,20.2616016 30.9794188,20.2616016 33.94575,17.5760417 C36.2421905,19.6477597 39.5441143,20.1708521 42.3684437,18.9103691 C45.1927731,17.649886 47.0084685,14.8428276 47.0000295,11.75 C47.0000295,11.3946378 46.9030823,11.0460037 46.7199583,10.7414583 Z">
                            </path>
                            <path
                              d="M39.198,22.4912623 C37.3776246,22.4928106 35.5817531,22.0149171 33.951625,21.0951667 L33.92225,21.1107282 C31.1430221,22.6838032 27.9255001,22.9318916 24.9844167,21.7998837 C24.4750389,21.605469 23.9777983,21.3722567 23.4960833,21.1018359 L23.4745417,21.1129513 C20.6961809,22.6871153 17.4786145,22.9344611 14.5386667,21.7998837 C14.029926,21.6054643 13.533337,21.3722507 13.0522917,21.1018359 C11.4250962,22.0190609 9.63246555,22.4947009 7.81570833,22.4912623 C7.16510551,22.4842162 6.51607673,22.4173045 5.875,22.2911849 L5.875,44.7220845 C5.875,45.9498589 6.7517757,46.9451667 7.83333333,46.9451667 L19.5833333,46.9451667 L19.5833333,33.6066734 L27.4166667,33.6066734 L27.4166667,46.9451667 L39.1666667,46.9451667 C40.2482243,46.9451667 41.125,45.9498589 41.125,44.7220845 L41.125,22.2822926 C40.4887822,22.4116582 39.8442868,22.4815492 39.198,22.4912623 Z">
                            </path>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </a>
              </li>
              <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="">Pages</a></li>
              <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Home</li>
            </ol>
            <h6 class="font-weight-bolder mb-0">Home</h6>
          </nav>
          <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none ">
            <a href="javascript:;" class="nav-link text-body p-0">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </div>
          <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label class="form-label">Search here</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <ul class="navbar-nav  justify-content-end">
              <li class="nav-item">
                <a href="../authentication/signin/illustration.html" class="nav-link text-body p-0 position-relative"
                  target="_blank">
                  <i class="material-icons me-sm-1">
                    account_circle
                  </i>
                </a>
              </li>
              <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                  <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                  </div>
                </a>
              </li>
              <li class="nav-item px-3">
                <a href="javascript:;" class="nav-link text-body p-0">
                  <i class="material-icons fixed-plugin-button-nav cursor-pointer">
                    settings
                  </i>
                </a>
              </li>
              <li class="nav-item dropdown pe-2">
                <a href="javascript:;" class="nav-link text-body p-0 position-relative" id="dropdownMenuButton"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="material-icons cursor-pointer">
                    notifications
                  </i>
                  <span
                    class="position-absolute top-5 start-100 translate-middle badge rounded-pill bg-danger border border-white small py-1 px-2">
                    <span class="small">11</span>
                    <span class="visually-hidden">unread notifications</span>
                  </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end p-2 me-sm-n4" aria-labelledby="dropdownMenuButton">
                  <li class="mb-2">
                    <a class="dropdown-item border-radius-md" href="javascript:;">
                      <div class="d-flex align-items-center py-1">
                        <span class="material-icons">email</span>
                        <div class="ms-2">
                          <h6 class="text-sm font-weight-normal my-auto">
                            Check new messages
                          </h6>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mb-2">
                    <a class="dropdown-item border-radius-md" href="javascript:;">
                      <div class="d-flex align-items-center py-1">
                        <span class="material-icons">podcasts</span>
                        <div class="ms-2">
                          <h6 class="text-sm font-weight-normal my-auto">
                            Manage podcast session
                          </h6>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item border-radius-md" href="javascript:;">
                      <div class="d-flex align-items-center py-1">
                        <span class="material-icons">shopping_cart</span>
                        <div class="ms-2">
                          <h6 class="text-sm font-weight-normal my-auto">
                            Payment successfully completed
                          </h6>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  
  <div class="container-fluid py-4">

    <div class="row mt-4">
      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="card">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
              <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Daily Topics Details</h4>
            </div>
          </div>
          <div class="card-body p-3">
            <div class="row">
              <div class="col-5 text-center">
                <div class="chart">
                  <canvas id="chart-consumption" class="chart-canvas" height="197"></canvas>
                </div>
                <h4 class="font-weight-bold mt-n8">
                  <span>{{ trending_details.daily_total }}</span>
                  <span class="d-block text-body text-sm">Total Daily Topics</span>
                </h4>
              </div>
              <div class="col-7">
                <div class="table-responsive">
                  <table class="table align-items-center mb-0">
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-primary me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Saved</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ trending_details.daily_saved }} </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-warning me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Scraped</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ trending_details.daily_scraped }} </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-secondary me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Blocked</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ trending_details.daily_blocked }} </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-success me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Ready</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ trending_details.daily_ready }} </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="card">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
              <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Real Time Topics Details</h4>
            </div>
          </div>
          <div class="card-body p-3">
            <div class="row">
              <div class="col-5 text-center">
                <div class="chart">
                  <canvas id="chart-consumption" class="chart-canvas" height="197"></canvas>
                </div>
                <h4 class="font-weight-bold mt-n8">
                  <span>{{ trending_details.realtime_total }}</span>
                  <span class="d-block text-body text-sm">Total Real Time Topics</span>
                </h4>
              </div>
              <div class="col-7">
                <div class="table-responsive">
                  <table class="table align-items-center mb-0">
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-primary me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Saved</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ trending_details.realtime_saved }} </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-warning me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Scraped</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ trending_details.realtime_scraped }} </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-secondary me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Blocked</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ trending_details.realtime_blocked }} </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-success me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Ready</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ trending_details.realtime_ready }} </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="horizontal dark my-5">

    <div class="row mt-4">
      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="card">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
              <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Scrape Topics Details</h4>
            </div>
          </div>
          <div class="card-body p-3">
            <div class="row">
              <div class="col-5 text-center">
                <div class="chart">
                  <canvas id="chart-consumption" class="chart-canvas" height="197"></canvas>
                </div>
                <h4 class="font-weight-bold mt-n8">
                  <span>{{ scrape_details.total }}</span>
                  <span class="d-block text-body text-sm">Total Scrape Topics</span>
                </h4>
              </div>
              <div class="col-7">
                <div class="table-responsive">
                  <table class="table align-items-center mb-0">
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-primary me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Scraped</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ scrape_details.scrape }} </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-warning me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Trends Ready</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ scrape_details.trends_ready }} </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-info me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Content Ready</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ scrape_details.content_ready }} </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-secondary me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Blocked</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ scrape_details.blocked }} </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-success me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Ready</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ scrape_details.joined }} </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="horizontal dark my-5">

    <div class="row mt-4">
      <div class="col-lg-12 mt-4 mt-lg-0">
        <div class="card">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
              <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Post Details</h4>
            </div>
          </div>
          <div class="card-body p-3">
            <div class="row">
              <div class="col-4 text-center">
                <div class="chart">
                  <canvas id="chart-consumption" class="chart-canvas" height="197"></canvas>
                </div>
                <h4 class="font-weight-bold mt-n8">
                  <span>{{ post_details.total }}</span>
                  <span class="d-block text-body text-sm">Total Posts</span>
                </h4>
              </div>
              <div class="col-4">
                <div class="table-responsive">
                  <table class="table align-items-center mb-0">
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-primary me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Pre Content</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ post_details.pre_content }} </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-warning me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Content Issue</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ post_details.content_issue }} </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-info me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Post Content</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ post_details.post_content }} </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-secondary me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">ImageGenReady</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ post_details.image_gen_ready }} </span>
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-4">
                <div class="table-responsive">
                  <table class="table align-items-center mb-0">
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-success me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Meta Ready</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ post_details.meta_ready }} </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-primary me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Draft</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ post_details.draft }} </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-warning me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Sent</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ post_details.sent }} </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-0">
                            <span class="badge bg-gradient-secondary me-3"> </span>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Blocked</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs"> {{ post_details.blocked }} </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="horizontal dark my-5">
    <div class="row">
      <div class="col-lg-2 col-sm-6">
        <div class="card {% if task_object.fetch_trends_task_periodic == True %}bg-gradient-primary{% endif %}">
          <div class="card-body">
            <div class="d-flex mb-4">
              <p class="mb-0 {% if task_object.fetch_trends_task_periodic == True %}text-white{% endif %}">{% if task_object.fetch_trends_task_periodic == True %}On{% else %}Off{% endif %}</p>
              <div class="form-check form-switch ms-auto">
                <input class="form-check-input" type="checkbox" onchange='toggleTask("fetch_trends_task_periodic")' id="fetch_trends_task_periodic">
              </div>
            </div>
            <p class="mt-4 mb-0 font-weight-bold {% if task_object.fetch_trends_task_periodic == True %}text-white{% endif %}">Daily Trends</p>
            <span class="text-xs {% if task_object.fetch_trends_task_periodic == True %}text-white{% endif %} ">{{ task_object.fetch_trends_task_periodic }}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 mt-md-0 mt-4">
        <div class="card {% if task_object.fetch_trends_realtime_task_periodic == True %}bg-gradient-primary{% endif %}">
          <div class="card-body">
            <div class="d-flex mb-4">
              <p class="mb-0 {% if task_object.fetch_trends_realtime_task_periodic == True %}text-white{% endif %}">{% if task_object.fetch_trends_realtime_task_periodic == True %}On{% else %}Off{% endif %}</p>
              <div class="form-check form-switch ms-auto">
                <input class="form-check-input" type="checkbox" onchange='toggleTask("fetch_trends_realtime_task_periodic")' id="fetch_trends_realtime_task_periodic">
              </div>
            </div>
            <p class="mt-4 mb-0 font-weight-bold {% if task_object.fetch_trends_realtime_task_periodic == True %}text-white{% endif %}">Real Time</p>
            <span class="text-xs {% if task_object.fetch_trends_realtime_task_periodic == True %}text-white{% endif %} ">{{ task_object.fetch_trends_realtime_task_periodic }}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 mt-md-0 mt-4">
        <div class="card {% if task_object.fetch_article_data_task_periodic == True %}bg-gradient-primary{% endif %}">
          <div class="card-body">
            <div class="d-flex mb-4">
              <p class="mb-0 {% if task_object.fetch_article_data_task_periodic == True %}text-white{% endif %}">{% if task_object.fetch_article_data_task_periodic == True %}On{% else %}Off{% endif %}</p>
              <div class="form-check form-switch ms-auto">
                <input class="form-check-input" type="checkbox" onchange='toggleTask("fetch_article_data_task_periodic")' id="fetch_article_data_task_periodic">
              </div>
            </div>
            <p class="mt-4 mb-0 font-weight-bold {% if task_object.fetch_article_data_task_periodic == True %}text-white{% endif %}">Article Data</p>
            <span class="text-xs {% if task_object.fetch_article_data_task_periodic == True %}text-white{% endif %} ">{{ task_object.fetch_article_data_task_periodic }}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 mt-md-0 mt-4">
        <div class="card {% if task_object.generate_short_content_task_periodic == True %}bg-gradient-primary{% endif %}">
          <div class="card-body">
            <div class="d-flex mb-4">
              <p class="mb-0 {% if task_object.generate_short_content_task_periodic == True %}text-white{% endif %}">{% if task_object.generate_short_content_task_periodic == True %}On{% else %}Off{% endif %}</p>
              <div class="form-check form-switch ms-auto">
                <input class="form-check-input" type="checkbox" onchange='toggleTask("generate_short_content_task_periodic")' id="generate_short_content_task_periodic">
              </div>
            </div>
            <p class="mt-4 mb-0 font-weight-bold {% if task_object.generate_short_content_task_periodic == True %}text-white{% endif %}">Short Content</p>
            <span class="text-xs {% if task_object.generate_short_content_task_periodic == True %}text-white{% endif %} ">{{ task_object.generate_short_content_task_periodic }}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 mt-md-0 mt-4">
        <div class="card {% if task_object.generate_realated_trend_task_periodic == True %}bg-gradient-primary{% endif %}">
          <div class="card-body">
            <div class="d-flex mb-4">
              <p class="mb-0 {% if task_object.generate_realated_trend_task_periodic == True %}text-white{% endif %}">{% if task_object.generate_realated_trend_task_periodic == True %}On{% else %}Off{% endif %}</p>
              <div class="form-check form-switch ms-auto">
                <input class="form-check-input" type="checkbox" onchange='toggleTask("generate_realated_trend_task_periodic")' id="generate_realated_trend_task_periodic">
              </div>
            </div>
            <p class="mt-4 mb-0 font-weight-bold {% if task_object.generate_realated_trend_task_periodic == True %}text-white{% endif %}">Related Trend</p>
            <span class="text-xs {% if task_object.generate_realated_trend_task_periodic == True %}text-white{% endif %} ">{{ task_object.generate_realated_trend_task_periodic }}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 mt-md-0 mt-4">
        <div class="card {% if task_object.generate_content_info_task_periodic == True %}bg-gradient-primary{% endif %}">
          <div class="card-body">
            <div class="d-flex mb-4">
              <p class="mb-0 {% if task_object.generate_content_info_task_periodic == True %}text-white{% endif %}">{% if task_object.generate_content_info_task_periodic == True %}On{% else %}Off{% endif %}</p>
              <div class="form-check form-switch ms-auto">
                <input class="form-check-input" type="checkbox" onchange='toggleTask("generate_content_info_task_periodic")' id="generate_content_info_task_periodic">
              </div>
            </div>
            <p class="mt-4 mb-0 font-weight-bold {% if task_object.generate_content_info_task_periodic == True %}text-white{% endif %}">Content Info</p>
            <span class="text-xs {% if task_object.generate_content_info_task_periodic == True %}text-white{% endif %} ">{{ task_object.generate_content_info_task_periodic }}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 mt-md-0 mt-4">
        <div class="card {% if task_object.generate_content_task_periodic == True %}bg-gradient-primary{% endif %}">
          <div class="card-body">
            <div class="d-flex mb-4">
              <p class="mb-0 {% if task_object.generate_content_task_periodic == True %}text-white{% endif %}">{% if task_object.generate_content_task_periodic == True %}On{% else %}Off{% endif %}</p>
              <div class="form-check form-switch ms-auto">
                <input class="form-check-input" type="checkbox" onchange='toggleTask("generate_content_task_periodic")' id="generate_content_task_periodic">
              </div>
            </div>
            <p class="mt-4 mb-0 font-weight-bold {% if task_object.generate_content_task_periodic == True %}text-white{% endif %}">Content Task</p>
            <span class="text-xs {% if task_object.generate_content_task_periodic == True %}text-white{% endif %} ">{{ task_object.generate_content_task_periodic }}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 mt-md-0 mt-4">
        <div class="card {% if task_object.generate_meta_info_task_periodic == True %}bg-gradient-primary{% endif %}">
          <div class="card-body">
            <div class="d-flex mb-4">
              <p class="mb-0 {% if task_object.generate_meta_info_task_periodic == True %}text-white{% endif %}">{% if task_object.generate_meta_info_task_periodic == True %}On{% else %}Off{% endif %}</p>
              <div class="form-check form-switch ms-auto">
                <input class="form-check-input" type="checkbox" onchange='toggleTask("generate_meta_info_task_periodic")' id="generate_meta_info_task_periodic">
              </div>
            </div>
            <p class="mt-4 mb-0 font-weight-bold {% if task_object.generate_meta_info_task_periodic == True %}text-white{% endif %}">Meta Info</p>
            <span class="text-xs {% if task_object.generate_meta_info_task_periodic == True %}text-white{% endif %} ">{{ task_object.generate_meta_info_task_periodic }}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 mt-md-0 mt-4">
        <div class="card {% if task_object.generate_image_prompt_task_periodic == True %}bg-gradient-primary{% endif %}">
          <div class="card-body">
            <div class="d-flex mb-4">
              <p class="mb-0 {% if task_object.generate_image_prompt_task_periodic == True %}text-white{% endif %}">{% if task_object.generate_image_prompt_task_periodic == True %}On{% else %}Off{% endif %}</p>
              <div class="form-check form-switch ms-auto">
                <input class="form-check-input" type="checkbox" onchange='toggleTask("generate_image_prompt_task_periodic")' id="generate_image_prompt_task_periodic">
              </div>
            </div>
            <p class="mt-4 mb-0 font-weight-bold {% if task_object.generate_image_prompt_task_periodic == True %}text-white{% endif %}">Image Prompt</p>
            <span class="text-xs {% if task_object.generate_image_prompt_task_periodic == True %}text-white{% endif %} ">{{ task_object.generate_image_prompt_task_periodic }}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 mt-md-0 mt-4">
        <div class="card {% if task_object.generate_image_task_periodic == True %}bg-gradient-primary{% endif %}">
          <div class="card-body">
            <div class="d-flex mb-4">
              <p class="mb-0 {% if task_object.generate_image_task_periodic == True %}text-white{% endif %}">{% if task_object.generate_image_task_periodic == True %}On{% else %}Off{% endif %}</p>
              <div class="form-check form-switch ms-auto">
                <input class="form-check-input" type="checkbox" onchange='toggleTask("generate_image_task_periodic")' id="generate_image_task_periodic">
              </div>
            </div>
            <p class="mt-4 mb-0 font-weight-bold {% if task_object.generate_image_task_periodic == True %}text-white{% endif %}">Image Task</p>
            <span class="text-xs {% if task_object.generate_image_task_periodic == True %}text-white{% endif %} ">{{ task_object.generate_image_task_periodic }}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 mt-md-0 mt-4">
        <div class="card {% if task_object.fetch_api_website_task_periodic == True %}bg-gradient-primary{% endif %}">
          <div class="card-body">
            <div class="d-flex mb-4">
              <p class="mb-0 {% if task_object.fetch_api_website_task_periodic == True %}text-white{% endif %}">{% if task_object.fetch_api_website_task_periodic == True %}On{% else %}Off{% endif %}</p>
              <div class="form-check form-switch ms-auto">
                <input class="form-check-input" type="checkbox" onchange='toggleTask("fetch_api_website_task_periodic")' id="fetch_api_website_task_periodic">
              </div>
            </div>
            <p class="mt-4 mb-0 font-weight-bold {% if task_object.fetch_api_website_task_periodic == True %}text-white{% endif %}">Fetch API</p>
            <span class="text-xs {% if task_object.fetch_api_website_task_periodic == True %}text-white{% endif %} ">{{ task_object.fetch_api_website_task_periodic }}</span>
          </div>
        </div>
      </div>
    </div>

    

{% endblock %}
{% block script %}
<script type="text/javascript">
  function toggleTask(taskId) {
    console.log("<------toogle task-button clicked -------->");
      var formData = new FormData();
      formData.append("value", taskId)
    $.ajax({
            type: 'POST',
            url: '/toggle_task/',
            data: formData, // Send the ID of the button in the POST request
            cache: false,
            processData: false, // essential
            contentType: false, // essential, application/pdf doesn't work.

            success: function (data, status, xhr) {
              location.reload();
            },
            complete: function () {
              // Hide 
            },
        });
    
      }
</script>

  {% endblock %}